/*
 * File: _colors.scss
 * Category: -
 * Author: MSG
 * Created: 22.03.17 10:46
 * Updated: -
 *
 * Description:
 *  -
 */

$color-success: #b3ff3d;
$color-info: #4379aa;
$color-warning: #FFF001;
$color-danger:  #ff3a3f;
$color-disabled: #ccc;
$color-white: #FFF;

$color-black: rgba(0,0,0,0.87);

// Brands
//$brand-primary: #234891;
//$brand-primary-2: #0D296A;
$brand-primary: #DEAB35;
$brand-primary-2: #293893;
$brand-info: #5A5A5C;
$brand-success: #b3ff3d;
$brand-warning: #cbb956;
$brand-danger: #ff6920;