
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body {
  padding: 8px;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.vertical-align-middle{
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}