/*
 * File: paginator.scss
 * Category: -
 * Author: MSG
 * Created: 13.04.17 13:08
 * Updated: -
 *
 * Description:
 *  -
 */

@import "colors";


$color-success: #b3ff3d;
$color-info: #4379aa;
$color-warning: #FFF001;
$color-danger:  #ff3a3f;
$color-disabled: #ccc;
$color-white: #FFF;

$color-black: rgba(0,0,0,0.87);

// Brands
//$brand-primary: #234891;
//$brand-primary-2: #0D296A;
$brand-primary: #DEAB35;
$brand-primary-2: #293893;
$brand-info: #5A5A5C;
$brand-success: #b3ff3d;
$brand-warning: #cbb956;
$brand-danger: #ff6920;

.pagination {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    span, a {
      cursor: pointer;
      background: $color-info;
      min-width: 26px;
      text-align: center;
      padding: 5px 12px;
      color: $color-white !important;
    }

    &:first-child span { }
    &:last-child span { }

    &.disabled span {
      color: $color-black !important;
      background: $color-disabled;
      cursor: auto !important;
    }

    &.active span {
      color: $color-white !important;
      background: lighten($color-info, 20);
    }
  }
}